<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>awpsjpawo6tunebg</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>io.Branch.posters</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>Posters</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>tiktokopensdk</string>
		<string>tiktoksharesdk</string>
		<string>snssdk1180</string>
		<string>snssdk1233</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>TikTokAppID</key>
	<string>awpsjpawo6tunebg</string>
	<key>UIAppFonts</key>
	<array>
		<string>Montserrat-ExtraBold.ttf</string>
		<string>Montserrat-Black.ttf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-Italic.ttf</string>
		<string>Montserrat-Light.ttf</string>
		<string>Montserrat-Medium.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-SemiBold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>branch_key</key>
	<dict>
		<key>live</key>
		<string>key_live_nqehypGEIkWcas3Y1jYNDegdyzoYF8lU</string>
		<key>test</key>
		<string>secret_live_Y25Iv3UyC8CwQiOTZNt3sqSry8DKGSDx</string>
	</dict>
	<key>branch_universal_link_domains</key>
	<array>
		<string>posters.app.link</string>
		<string>posters-alternate.app.link</string>
		<string>posters.test.app.link</string>
		<string>posters-alternate.test.app.link</string>
	</array>
</dict>
</plist>
